<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KanjiPEPS</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/font-awesome")
</head>
<body>
    <nav id="sidenav-main" class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" />
            </a>
            <div id="sidenav-collapse-main" class="collapse navbar-collapse">
                <hr class="my-3" />
                <ul id="navbar-nav" class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-coins"></i>
                            <span>Options</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Underlying")">
                            <i class="fas fa-chart-line"></i>
                            <span>Évolution des sous-jacents</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Coverage")">
                            <i class="fas fa-home"></i>
                            <span>Couverture</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Backtesting")">
                            <i class="fas fa-vial"></i>
                            <span>Backtesting</span>
                        </a>
                    </li>
                </ul>
                <hr class="my-3" />
                <span>@ViewBag.UserDate</span>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <!-- Page Content -->
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!--
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - KanjiWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/argon")
    @RenderSection("scripts", required: false)
</body>
</html>
