@model WebComponent.Models.ConfigFormModel

@{
    ViewBag.Title = "Index";
}

<div class="main-content">
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8">
                        <h6 class="h2 text-white d-inline-block mb-0">Kanji Dashboard</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <a data-toggle="collapse" href="#collapseUnderlying" role="button" aria-expanded="false" aria-controls="collapseUnderlying">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Évolution des sous-jacents</h5>

                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                <i class="fas fa-chart-line"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseUnderlying">
                                        <p class="mt-3 mb-0 text-sm">
                                            <span class="text-muted">Cette page contient les trajectoires d'évolution de nos sous-jacents. Ces trajectoires se basent sur des données historiques puis une simulation à partir d'une fenêtre d'estimation et une date dont laquelle vous allez vous situer. Chaque sous-jacent évolue dans son marché domestique.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <a data-toggle="collapse" href="#collapseCoverage" role="button" aria-expanded="false" aria-controls="collapseCoverage">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Couverture</h5>

                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                                <i class="fas fa-coins"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseCoverage">
                                        <p class="mt-3 mb-0 text-sm">
                                            <span class="text-muted"> Cette page contient un graphe presentant la couverture du produit Kanji ainsi que les Deltas du portefeuille de couverture. Vous pouvez aussi voir la composition du portefeuille à une date donnée. La fréquence, la fenêtre d'estimation et la date devront être choisies par vos soin.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <br/>
    <div class="container-fluid">
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "userDate" }))
        {
            <div id="modele"></div>
            <br />
            <p class="progress-label">Mode "Normal" : Taux de change constant.</p>
            <p class="progress-label">Mode "FX" : Taux de change variable.</p>
            <br />
            <span style="padding-right:1rem;">Normal</span>@Html.RadioButtonFor(model => model.TauxChange, "Normal")
            <span style="padding-left:1rem; padding-right:1rem;"></span>@Html.RadioButtonFor(model => model.TauxChange, "FX")<span style="padding-left:1rem;">FX</span>
            <br />
            <div id="userDate"></div>
            <br />
            @Html.Label("Entrez la date où vous voulez vous situer :")
            <br />
            @Html.EditorFor(model => model.DesiredDate, new { @type = "date" })
            <br />
            <br />
            <button class="btn btn-sm btn-neutral">Valider</button>
            <br />
            <span style="color:red">@ViewBag.MessageEr</span>
        }
    </div>
</div>